:80 {
  redir https://{host}{uri}
}

{$FRONT_DOMAIN} {
  encode zstd gzip
  handle_path /api* {
    reverse_proxy {$BACK_API}
  }
  handle {
    reverse_proxy 127.0.0.1:3000
  }
}

sgjo.shop {
  redir https://{$FRONT_DOMAIN}{uri}
}
